.carousel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel-container .carousel {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
